body {
	text-align: center;
}
#photo-viewer {
	height: 600px;
	}

#photo-viewer.is-loading:after {
	content: url(images/load.gif};
	position: absolute;
	top: 0;
	right: 0;
	}
	
#photo-viewer img {
	height: 600px;
	width: auto;
}
	
a.active {
	opacity: 0.3;
}
	
